<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVC_Board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!--     서블릿 주소 매핑을 위한 배포 서술자 설정 
         최근에는 서블릿 클래스 파일 내에 직접 @WebServlet 이노테이션으로 매핑을 하지만
         과거에는 Web.xml
          -->
 
<!--  <servlet> -->
<!--   서블릿 클래스 파일 지정 --> 
<!--   <servlet-name>BoardFrontController</servlet-name> -->
<!--   <servlet-class>controller.BoardFrontController</servlet-class> -->
<!--  </servlet> -->

<!--  <servlet-mapping> -->
<!--   서블릿 클래스를 실행하기위한 서블릿 주소 매핑 --> 
<!--    servlet-name 태그내의 이름은 servler태그 내의 servler_name 이름과 동일해야 함 -->
<!--    <servlet-name>BoardFrontController</servlet-name> -->
<!--    url-pattren 태그에서 매핑할 주소 지정 --> 
<!--    <url-pattern>*.bo</url-pattern> -->
<!--  </servlet-mapping> -->
  
</web-app>